<%= turbo_frame_tag "aporte_#{f.index}",
  class: "div-tabla-fila nested-fields" do %>
  <% if f.object.nil? %>
    <% f.object = ::Aporte.new %>
  <% end %>
  <div class="div-tabla-celda">
    <% @aniosaporte = *(2020..Date.today.year) %>
    <%= f.input :anio,
      collection: @aniosaporte,
      label: false
    %>
  </div>
  <div class="div-tabla-celda">
    <% @mesesaporte = [
      ["ENERO", 1],
      ["FEBRERO", 2],
      ["MARZO", 3],
      ["ABRIL", 4],
      ["MAYO", 5],
      ["JUNIO", 6],
      ["JULIO", 7],
      ["AGOSTO", 8],
      ["SEPTIEMBRE", 9],
      ["OCTUBRE", 10],
      ["NOVIEMBRE", 11],
      ["DICIEMBRE", 12]] %>
    <%= f.input :mes,
      collection: @mesesaporte,
      label: false
    %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :valor,
      label: false
    %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :id, as: :hidden %>
    <%= f.submit "Eliminar", 
      formaction: main_app.eliminar_aporte_path(
        id: f.object.id, index: f.index || 1),
        formmethod: :delete, 
        formnovalidate: true, 
        class: 'btn btn-sm btn-danger',
        data: { 
          turbo_frame: "aporte_#{f.index}",
          turbo_method: :delete,
          disable_with: false
        } %>
  </div>
<% end %>
