<div class="page-header">
  <h1>Reporte de población vinculada con nombres repetidos</h1>
</div>

<%= simple_form_for Msip::Nombrerepetido.new, 
  :url => main_app.personas_nombresrepetidos_path,
  :html => { :class => 'form-horizontal' } do |f| 
%>
  <div data-role="content" class="form-inputs">
    <div id="errores">
      <% if f.object.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            El formulario tiene 
            <%= pluralize(f.object.errors.count, "error") %>.
          </div>
          <ul>
            <% f.object.errors.full_messages.each do |msg| %>
              <li>* <%= msg %></li>
            <% end %>
          </ul>
        </div> <!-- error-explanation -->
      <% end %>
      <%= f.error_notification %>
    </div> <!-- errores -->
    <div class="container">
      <div class="row filtro-fila">
        <div class="offset-sm-0 col-sm-4">
          <% fpred = Msip::FormatoFechaHelper.inicio_semestre(Date.today) %>
          <%= f.input :fechaini,
            maxlength: 10, 
            size: 10,
            label: false,
            placeholder: 'Inicial',
            input_html: {
              "data-behaviour" => "datepicker",
              value: (params[:nombrerepetido] ? 
                      params[:nombrerepetido][:fechaini] :
                      Msip::FormatoFechaHelper.fecha_estandar_local(fpred)
                     )
            }
          %>
        </div>
        <div class="offset-sm-0 col-sm-4">
          <%= f.input :fechafin,
            maxlength: 10, 
            size: 10,
            label: false,
            placeholder: 'Final',
            input_html: {
              "data-behaviour" => "datepicker",
              value: params[:nombrerepetido] ? 
                params[:nombrerepetido][:fechafin] : ''
            }
          %>
        </div>
        <div class="offset-sm-0 col-sm-4">
        <%  ih = { style: 'margin-left: 15px' } %>
        <% ih[:checked]='checked' if params[:nombrerepetido] && 
          params[:nombrerepetido][:deduplicables_autom].to_i == 1 %>
          <!--%= f.input :deduplicables_autom,
            as: :boolean,
            label: 'Presentar deduplicables automaticamente (demorado)',
            boolean_style: :nested,
            input_html: ih %-->
        </div>
      </div> <!-- row -->
 
      <!--%= render 'restofiltro', {f: f} %-->

      <div class="row filtro-fila">
        <div class="offset-md-5 col-md-2">
          <%= f.button :submit, 'Filtrar', class: 'btn btn-default',
            'data-turbo' => false %>
        </div>
      </div> <!-- class: row -->

    </div>  <!-- class:container -->
  </div> <!-- class:form-inputs -->
<% end %>

<h3>Pares de personas con nombres similares: <%= @idrep.count %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="6">Persona 1</th>
      <th colspan="6">Persona 2</th>
    </tr>
    <tr>
      <th>Id</th>
      <th>Tipo Doc.</th>
      <th>Núm. Doc.</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Id</th>
      <th>Tipo Doc.</th>
      <th>Núm. Doc.</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Aparece en</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <% @idrep.try(:each) do |fila| %>
      <tr>
        <td>
          <%= link_to(
            fila["id1"].to_i, 
            msip.persona_path(fila["id1"].to_i)) %>
        </td>
        <td> <%= fila["sigla1"] %> </td>
        <td> <%= fila["numerodocumento1"] %> </td>
        <td><%= fila["nombres1"] %></td>
        <td><%= fila["apellidos1"] %></td>
        <td>
          <%= link_to(
            fila["id2"].to_i, 
            msip.persona_path(fila["id2"].to_i)) %>
        </td>
        <td> <%= fila["sigla2"] %> </td>
        <td> <%= fila["numerodocumento2"] %> </td>
        <td><%= fila["nombres2"] %></td>
        <td><%= fila["apellidos2"] %></td>
        <td>
          <%= link_to(
            'Unificar',
            msip.personas_unificar_get_path + '?id1=' + 
            fila['id1'].to_s + '&id2=' + fila['id2'].to_s,
            target: '_blank',
            class: 'btn btn-sm'
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<h2>Unificar dos personas por identificaciones en el sistema</h2>

<%= simple_form_for Msip::Unificarpersonas.new, 
  :url => msip.personas_unificar_path,
  :html => { :class => 'form-horizontal' } do |f| 
%>
  <div data-role="content" class="form-inputs">
    <div class="container">
      <div class="row filtro-fila">
        <div class="offset-sm-1 col-sm-3">
          <%= f.input :id1,
            maxlength: 10, 
            size: 10,
            label: false,
            placeholder: 'Id. de la primera persona'
          %>
        </div>
        <div class="offset-sm-1 col-sm-3">
          <%= f.input :id2,
            maxlength: 10, 
            size: 10,
            label: false,
            placeholder: 'Id. de la segunda beneficario'
          %>
        </div>
        <div class="offset-md-1 col-md-3">
          <%= f.button :submit, 'Unificar', class: 'btn btn-default',
            'data-turbo' => false %>
        </div>
      </div> <!-- class: row -->
      <div>Advertencia: al unificar dos personas se completará
        la información del que tenga código menor (con los datos
        de la otra persona) y se eliminará la persona con
        código mayor.
      </div>

    </div>  <!-- class:container -->
  </div> <!-- class:form-inputs -->
<% end %>


