<table border="1">
  <tbody>
    <tr>
      <th>Hecho Violento</th>
      <th colspan="<%= (enctabla.length-1)*3 %>">
        Rango de Edad
      </th>
      <th colspan="3">Total</th>
    </tr>
    <tr>
      <th>
      </th>
      <% totcol = [] %>
      <% (1..enctabla.length-1).each do |i| %>
        <th colspan='3'>
          <%= enctabla[i] %>
          <% totcol[i] = [0, 0, 0] %>
        </th>
      <% end %>
    </tr>
    <% (0..cuerpotabla.length-1).each do |j| %>
      <tr>
        <th>
          <%= cuerpotabla[j][0] %>
        </th>
        <% totfil = [0, 0, 0] %>
        <% (1..enctabla.length-1).each do |i| %>
          <% fem = cuerpotabla[j][i][0] %>
          <% mas = cuerpotabla[j][i][1] %>
          <% sin = cuerpotabla[j][i][2] %>
          <%= render partial: 'fbd_celda_fms', 
            locals: { f: fem, m: mas, s: sin} %>
          <% totcol[i][0] += fem %>
          <% totcol[i][1] += mas %>
          <% totcol[i][2] += sin %>
          <% totfil[0] += fem %>
          <% totfil[1] += mas %>
          <% totfil[2] += sin %>
        <% end %>
        <%= render partial: 'fbd_celda_fms', 
          locals: { f: totfil[0], m: totfil[1], s: totfil[2]} %>
      </tr>
    <% end %>
    <tr>
      <th>
        Total
      </th>
      <% totfil = [0, 0, 0] %>
      <% (1..enctabla.length-1).each do |i| %>
        <%= render partial: 'fbd_celda_fms', 
          locals: { f: totcol[i][0], m: totcol[i][1], s: totcol[i][2]} %>
        <% totfil[0] += totcol[i][0] %>
        <% totfil[1] += totcol[i][1] %>
        <% totfil[2] += totcol[i][2] %>
      <% end %>
      <%= render partial: 'fbd_celda_fms', 
        locals: { f: totfil[0], m: totfil[1], s: totfil[2]} %>
    </tr>
  </tbody>
</table>
