<table border="1">
  <tbody>
    <tr>
      <td>
        <h5>Hecho Violento</h5>
      </td>
      <td colspan="<%= enctabla.length-1 %>">
        <h5>Rango de Edad</h5>
      </td>
      <td><h5>Total</h5></td>
    </tr>
    <tr>
      <th>
      </th>
      <% totcol = [] %>
      <% (1..enctabla.length-1).each do |i| %>
        <th>
          <%= enctabla[i] %>
          <% totcol[i] = [0, 0, 0] %>
        </th>
      <% end %>
    </tr>
    <% (0..cuerpotabla.length-1).each do |j| %>
      <tr>
        <th>
          <%= cuerpotabla[j][0] %>
        </th>
        <% totfil = [0, 0, 0] %>
        <% (1..enctabla.length-1).each do |i| %>
          <td>
            <% fem = cuerpotabla[j][i][0] %>
            <% mas = cuerpotabla[j][i][1] %>
            <% sin = cuerpotabla[j][i][2] %>
            <%= render partial: 'fbd_celda_fms', 
              locals: { f: fem, m: mas, s: sin} %>
            <% totcol[i][0] += fem %>
            <% totcol[i][1] += mas %>
            <% totcol[i][2] += sin %>
            <% totfil[0] += fem %>
            <% totfil[1] += mas %>
            <% totfil[2] += sin %>
          </td>
        <% end %>
        <td>
          <%= render partial: 'fbd_celda_fms', 
            locals: { f: totfil[0], m: totfil[1], s: totfil[2]} %>
      </td>
      </tr>
    <% end %>
    <tr>
      <th>
        Total
      </th>
      <% totfil = [0, 0, 0] %>
      <% (1..enctabla.length-1).each do |i| %>
        <td>
          <%= render partial: 'fbd_celda_fms', 
            locals: { f: totcol[i][0], m: totcol[i][1], s: totcol[i][2]} %>
          <% totfil[0] += totcol[i][0] %>
          <% totfil[1] += totcol[i][1] %>
          <% totfil[2] += totcol[i][2] %>
        </td>
      <% end %>
      <td>
        <%= render partial: 'fbd_celda_fms', 
          locals: { f: totfil[0], m: totfil[1], s: totfil[2]} %>
    </td>
    </tr>
  </tbody>
</table>
