<!DOCTYPE html>

<html>
  <head>

    <style>
body {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 15px;
  text-align: center;
  color: #777;
}
table {
  border-collapse: collapse;
}
    </style>
  </head>
  <body>
    <div class="fasol_banco_regionales">
      <table border="1">
      <tbody>
        <tr>
          <td>
            <h5>Hecho Violento</h5>
          </td>
          <td colspan="<%= @cuerpotabla.length %>">
            <h5>Regional</h5>
          </td>
          <td><h5>Total</h5></td>
        </tr>
        <tr>
          <th>
          </th>
          <% totcol = [] %>
          <% (0..@cuerpotabla.length-1).each do |i| %>
            <th>
              <% if @cuerpotabla[i][0].to_s == '' %>
                S/R
              <% else %>
                <%= @cuerpotabla[i][0] %>
              <% end %>
              <% totcol[i] = 0 %>
            </th>
          <% end %>
          <th></th>
        </tr>
        <% (1..@enctabla.length-1).each do |j| %>
          <tr>
            <th>
              <%= @enctabla[j] %>
            </th>
            <% totfil = 0 %>
            <% (0..@cuerpotabla.length-1).each do |i| %>
              <td>
                <%= @cuerpotabla[i][j] %>
                <% totcol[i] += @cuerpotabla[i][j] %>
                <% totfil += @cuerpotabla[i][j] %>
              </td>
            <% end %>
            <td><%= totfil %></td>
          </tr>
        <% end %>
        <tr>
          <th>
            Total
          </th>
          <% totfil = 0 %>
          <% (0..@cuerpotabla.length-1).each do |i| %>
            <td>
              <%= totcol[i] %>
              <% totfil += totcol[i] %>
            </td>
          <% end %>
          <td><%= totfil %></td>
        </tr>
      </tbody>
      </table>
    </div>
  </body>
</html>
